$hc:#13141A;
$bgc:#1D1F27;
$cc:#282931;
$fc:#c0c0c2;
$pc:#ee6e47;

#footer {
    height: 50px;
    line-height: 50px;
    background-color: $hc;
    text-align: center;
    font-size: 14px;
    // margin-top: 50px;
    color: $fc;
}