$hc:#13141A;
$bgc:#1D1F27;
$cc:#282931;
$fc:#c0c0c2;
$pc:#ee6e47;

#mask{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    .mask{
        // display: none;
        border-radius: 5px;
        width: 350px;
        height: 100px;
        line-height: 100px;
        color: #fff;
        font-size: 20px;
        z-index: 999;
        background-color: $cc;
        text-align: center;
        position:absolute;
        top: 25%;
        left: 50%;
        transform:translateX(-50%)
    }
}
// 头部区域
#header {
    width: 100%;
    height: 66px;
    background-color: $hc;

    .header {
        width: 1200px;
        height: 66px;
        // line-height: 66px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 150px;

            img {
                display: block;
            }
        }

        .nav {
            flex: 1;
            display: flex;
            justify-content: space-evenly;
            justify-items: center;

            li {
                float: left;
                transition: border 0.2s;

                &:first-child {
                    border-bottom: 3px solid $pc;
                }

                &:hover {
                    border-bottom: 3px solid $pc;
                }

                a {
                    color: $fc;
                }
            }
        }

        .search {
            width: 194px;
            height: 34px;

            input {
                height: 34px;
                background-color: #2B2C31;
            }

            #search-in {
                width: 160px;
                padding: 0 10px;
                color: $fc;
                float: left;
            }

            #search-btn {
                width: 34px;
                float: left;
                cursor: pointer;
                background: url(../img/search-icon.png) no-repeat center center #2B2C31;
            }
        }

        .login {
            width: 50px;
            text-align: center;
            font-size: 12px;
            color: $fc;
        }
    }
}

#main {
    height: 650px;
    // background: url(../img/registerbg.jpg) no-repeat center center;
    background-color: $bgc;
    background-size: cover;
    color: $fc;
    // position: relative;
    // margin: 0;
    overflow: hidden;

    #register-from {
        // border-radius: 5px;
        margin: 50px auto;
        width: 900px;
        overflow: hidden;
        padding-bottom: 30px;
        // background-color: rgba(0,0,0,0.8);
        background-color: $cc;
        color: $fc;

        h2 {
            font-size: 30px;
            line-height: 64px;
            border-bottom: 1px solid $fc;
            text-align: center;
        }
        
        .form-input {
            overflow: hidden;
            width: 100%;
            margin: 20px 0;
            .error{
                line-height: 40px;
                color: #ee6e47;
            }
            .label-elm {
                display: block;
                width: 300px;
                line-height: 40px;
                text-align: right;
                float: left;
            }

            input {
                margin: 0 10px;
                padding: 0 10px;
                width: 300px;
                height: 40px;
                display: block;
                float: left;
            }
            
            #uSub {
                margin: 0 310px;
                cursor: pointer;
                color: #fff;
                font-size: 16px;
                background-color: #ee6e47;
                transition: all 0.2s;
                
                &:hover {
                    background-color: #ee3b04;
                }
            }
        }
        .check-input{
            width: 600px;
            height: 20px;
            margin-left: 310px;
            #uServer {
                width: 15px;
                height: 15px;
                line-height: 20px;
            }
        }
    }
}

// 底部区域
#footer {
    height: 50px;
    line-height: 50px;
    background-color: $hc;
    text-align: center;
    color: $fc;
    font-size: 14px;
}